<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="david.myibatis.ICourseOperation"><!-- 包名需要和接口的命名空间相对应否则会报错 -->
	<select id="queryCourseById" parameterType="int" resultType="Course">
		select * from Course where id = #{id}
	</select>
	<select id="queryListByStudentId" parameterType="int"
		resultMap="courseResultMap">
		select * from
		Course where StudentId = #{id}
	</select>
	<resultMap id="courseResultMap" type="Course">
		<id property="id" column="Id" />
		<result property="studentId" column="StudentId" />
		<result property="courseName" column="CourseName" />
	</resultMap>
	<insert id="addCourse" parameterType="Course" useGeneratedKeys="true"
		keyProperty="Id">
		insert into Course (StudentId, CourseName) values
		(#{studentId}, #{courseName})
	</insert>
	<!-- 千万注意此处所有的property属性都是区分大小写的否则默认的getter,setter函数 反射起来会不识别该方法 -->
	<resultMap type="Course" id="resultMapCourseLsWithStudent">
		<id property="id" column="id" />
		<result property="courseName" column="courseName" />
		<association property="student" javaType="Student">
			<id property="id" column="sid" />
			<result property="name" column="name" />
			<result property="birth" column="createTime" />
		</association>
	</resultMap>
	<select id="getCourseListWithStudentInfo" parameterType="int"
		resultMap="resultMapCourseLsWithStudent">
		select course.id, course.courseName, student.id sid,
		student.name, student.createTime
		from course inner join student on
		course.studentId = student.id where student.id = #{studentId};
	</select>
</mapper>